body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin-bottom: 0;
}

h2 {
  margin-top: 5px;
  font-weight: normal;
}

#tooltip {
  position: absolute;
  background: white;
  border: 1px solid #333;
  padding: 5px 8px;
  border-radius: 4px;
  font-size: 12px;
  pointer-events: none;
  opacity: 0;
}