body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin-bottom: 0;
}

h2 {
  margin-top: 5px;
  font-weight: normal;
}

.cell:hover {
  stroke: black;
  stroke-width: 1px;
}